/* color variables */
$martian-red: #EF4059;
$martian-dark: #3D3D3D;
$martian-darkgray: #8E8E8E;
$martian-gray: #C7C7C7;
$martian-lightgray: #F5F5F5;

$dark: #000;
$light: #fff;
$op-secondary: rgba($dark, .54);
$secondary-color: #F44336;
$op-dark-misc: rgba($dark, .38);

$bg-color-light: #666;
$bg-color: #333;
$bg-color-dark: #000;


